
.idea/

coverage/

numpy/array_api/

numpy/core/

numpy/distutils/command/

numpy/distutils/

numpy/f2py/tests/src/kind/

numpy/f2py/tests/src/mixed/

numpy/

pytest/

pytest_html/

func/__pycache__/functions.cpython-39.pyc

func_tests/__pycache__/testCalc.cpython-39-pytest-7.2.0.pyc
